body {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-color: black;
    margin-top: 0px;
}
.container {
    display:flex;
    flex-direction: column;
    align-items:center;
    height: 100vh;
    color:white;
    background-color: rgba(169, 169, 169, 0.384);
    padding:35px;
}
.gameContainer {
    display:flex;
    justify-content: center;
    gap:40px;
}
.userOptions {
    display:flex;
    flex-direction: column;
    gap: 20px;
    border-style: groove;
    padding:15px;
    border-radius: 5px;
    align-items: center;
}
.gridContainer {

    border-style:solid;
    border-color:black;
    padding:0px;
    margin:0px;
    background-color: white;
}

.square {
    border-style: solid;
    padding:0px;
    margin: -1px;
    border-color:black;
    border-width:1px;
    
}

.row {
    padding: 0px;
    margin: 0px;
    border:0px;
    
    border-style:none;
    display:flex;
}

button {
    background-color: rgba(169, 169, 169, 0.384);
    color:white;
    font-size:20px;
    border-radius: 5px;
    border-style: solid;
    border-color: white;
    width: 150px;
}
button:active {
    background-color: black;
}
